*{
    margin: 0;
}
.locationhead{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 2.4rem;
}
.spantext{
    margin-left: 10px;
    color: black;
    cursor: pointer;
    font-weight: 700;
    font-size: x-large;
}
.spanSmall{
    margin-left: 10px;
    font-size: medium;
    font-weight: 500;
    color: black;
}