@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    width: 55px;
    height: 55px;
    margin-left: 2vw;
}

.linktag {
    margin-top: 10vh;
    display: flex;
    background-color: #29AB87;
    justify-content: center;
    border: 0; 
    margin-bottom: 4rem;
}

.navbar {
    box-shadow: none;
    z-index: 1000; /* Ensure it's on top of other elements */
}

.cart-name {
    text-transform: capitalize;
    font-size: 1.1rem;
}

.cart-name:hover {
    border-bottom: 2px solid white;
}

.margin-navbar {
    margin-left: 50vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.horizontal-line {
    border-left: 3px solid white;
    height: 3rem;
    margin-right: 1vw;
}

.link-tag {
    cursor: pointer;
}

/* Ensure there's enough top padding for content to be visible below the fixed navbar */
.content {
    padding-top: 70px; /* Adjust based on the height of your navbar */
}
