@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.logo{
    width: 55px;
    height: 55px;
    margin-left: 2dvw;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
.linktag{
    margin-top: 4.5rem;
    display: flex;
    background-color: #083d69;
    justify-content: center;
    border: 0; 
    margin-bottom: 4rem;
}
.navbar{
    box-shadow: none;
}
.cart-name{
    text-transform: capitalize;
    font-size: 1.1rem;
}
.cart-name:hover{
    border-bottom: 2px solid white;
    
}
.margin-navbar{
    margin-left: 54dvw;
    margin-top: 1dvh;
    margin-bottom: 1dvh;
}
.horizontal-line{
    border-left: 3px solid white;
    height:3rem;
    margin-right: 1dvw;
}
.link-tag{
    cursor: pointer;
}